html, body {
    margin: 0;
    padding: 0;

    height: 100%;

    width: 100%;
    max-width: 100%;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 100%;
}

body {
    background-color: #DDD;
}

a {
    text-decoration: none;
    color: #363;
}

a:hover {
    color: #696;
}

em {
    font-style: normal;
    font-weight: bold;
}

table {
    margin-left: 1rem;

    border: 2px solid #AAA;
    border-collapse: collapse;
}

td, th {
    border: 1px dotted #AAA;
    padding: 0.5rem;
}

th {
    border-bottom: 2px solid #AAA;
}

pre {
    margin: 0 0 0 1rem;
    border: 1px solid #AAA;
    border-left: 4px solid #AAA;
    padding: 0.5rem;

    background-color: #DDD;

    line-height: 1.5em;

    overflow-x: auto;
}

pre, code {
    font-family: "Source Code Pro", monospace;
}

pre {
    font-size: 0.9rem;
}

code {
    background-color: #DDD;
}

a code {
    font-weight: bold;
}

header {
    height: 4rem;

    background-image: url(../tudocomp.svg);
    background-repeat: no-repeat;
    background-size: auto 3rem;
    background-position: 0.5rem 0.5rem;
}

header h1 {
    margin: 0;
    padding-top: 2rem;
    padding-right: 1rem;

    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

section#content {
    padding: 2rem 0 2rem 0;
    background-color: white;
}

section#content > div {
    border: 2px solid #AAA;
    border-radius: 1rem;
    padding: 1rem;

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#document-info {
    text-align: center;
    margin-bottom: 2rem;
}

#title {
    font-size: 2rem;
    font-weight: bold;
}

#subtitle {
    font-size: 1.25rem;
    font-weight: bold;

    margin-bottom: 1em;
}

#content h1 {
    margin: 3rem 0 0.5rem 0;
    font-size: 1.75rem;
    font-weight: bold;

    border-bottom: 2px solid #AAA;
}

#content h2 {
    margin: 2rem 0 0.5rem 0;

    font-size: 1.5rem;
    font-weight: bold;
}

#content h3 {
    margin: 2rem 0 0.5rem 0;

    font-size: 1.0rem;
    font-weight: bold;
}

#content p {
    padding-left: 1rem;
}

#content .figure {
    margin-left: 1rem;

    border: 1px solid #AAA;
    border-left: 4px solid #AAA;

    text-align: center;
}

#content .figure img {
    max-width: 100%;
}

#content .figure .caption {
    background-color: #DDD;

    font-size: 0.85rem;
    font-style: italic;

    border-top: 1px dotted #AAA;

    margin: 0;
    padding: 0.5rem;
}

#content blockquote {
    margin: 0 0 0 1rem;
}

#content blockquote > blockquote {
    margin: 0;
}

#content blockquote p {
    background-color: #DDD;

    border-left: 4px solid #AAA;
    font-style: italic;

    padding: 0.5rem;
}

#content blockquote > blockquote p {
    background-color: #DDF;

    border: 3px solid blue;
    border-radius: 0.5rem;
}

#content ol {
    padding-left: 3rem;
}

#content ul {
    padding-left: 3rem;
}

#content ul li {
    line-height: 1.5rem;
}

#TOC ul {
    padding-left: 2rem;
}

a.footnoteRef {
    padding: 0 0.25rem 0 0.25rem;
    font-weight: bold;
}

.footnotes a:last-of-type {
    padding-left: 0.5rem;
}

footer {
}

@media only screen and (max-device-width: 800px) {
    html {
    }

    body {
        overflow-x: hidden;
    }

    header {
        background-position: center 0.5rem;
    }

    header h1 {
        display: none;
    }

    section#content > div {
        border: none;
        border-radius: 0;

        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #title {
        display: none;
    }

    #content p {
        padding-left: 0;
    }

    #content blockquote {
        padding-left: 0;
    }

    pre {
        margin-left: 0;
    }
}

