html, body {
    margin: 0;
    padding: 0;

    height: 100%;

    width: 100%;
    max-width: 100%;
}

html {
    font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-size: 100%;
}

body {
    background-color: #DDD;
}

a {
    text-decoration: none;
    color: #363;
}

a:hover {
    color: #696;
}

em {
    font-style: oblique;
    font-weight: 600;
}

header {
    height: 4rem;

    background-image: url(tudocomp.svg);
    background-repeat: no-repeat;
    background-size: auto 3rem;
    background-position: 0.5rem 0.5rem;
}

header h1 {
    margin: 0;
    padding-top: 2rem;
    padding-right: 1rem;

    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

section#content {
    background-color: white;
}

section#content.padded {
    padding: 2rem;
}

#dashboard {
    padding-top: 1rem;
    padding-bottom: 2rem;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#dashboard ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

#dashboard li {
    margin-top: 1em;

    background-color: #DDD;

    border: 2px solid #AAA;
    border-radius: 0.5rem;

    padding: 0.5rem;
}

#dashboard li a {
    padding-bottom: 1px;

    font-size: 1.25rem;
    font-weight: bold;

    border-bottom: 1px dotted #393;
}

#dashboard li a:hover {
    border-bottom-color: #696;
}

#dashboard li p {
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;

    padding: 0;
    padding-left: 0.5rem;

    border-left: 0.25rem solid #AAA;
}

#dashboard li p.warning {
    background-color: #EEC;

    border-color: #C80;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    padding: 0.5rem;
}

#dashboard li p.warning i.fa-warning {
    color: #C80;
}

footer {
}

@media only screen and (max-device-width: 800px) {
    html {
    }

    body {
        overflow-x: none;
    }

    #dashboard {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #dashboard li {
        text-align: left;
    }

    #dashboard li a {
        font-size: 1.5rem;
    }

    header {
        background-position: center 0.5rem;
    }

    header h1 {
        display: none;
    }
}
